.search-filters {
    display: flex;

    @include media-breakpoint-down(sm) {
        display: block !important;

        &__filter {
            display: block !important;
            margin-right: 0rem !important;
            margin-bottom: $spacer-y;

            &:last-child {
                margin-bottom: 0rem !important;
            }
        }
    }

    &__label {
        font-size: 0.8rem;
        margin-top: $spacer-y * 0.5;
    }

    &__filter {
        margin-right: $spacer-x;

        &:last-child {
            margin-right: 0rem;
        }
    }

    &__year-input {
        max-width: 7rem;
    }
}